extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Аватарки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Аватарки
			//- .section-ui
			//- 	div.avatar
			//- 		a(href="#!")
			//- 			div.small--avatar
			//- 				img(src="../img/avatars/ava-test.png")
			//- 				div.avatar--img__content
			//- 					| test text
			.section-ui
				+avatar("#!", "../img/avatars/ava-test.png", "some text mayBe")(class = "small--avatar")
			.section-ui
				+avatar("#!", "../img/avatars/ava-test.png")(class = "big--avatar")

			//-вызов аватарки без ссылки
			//- .section-ui
			//- 	+avatar("../img/avatars/ava-test.png", "some text")(class = "small--avatar")
			//- .section-ui
			//- 	+avatar("../img/avatars/ava-test.png", "some text")(class = "big--avatar")

			//- если двуми миксинами то так вызываем
			//- 	+smallAva("../img/avatars/ava-big.png", "some text")
			//- 	+bigAva("../img/avatars/ava-big.png")

			pre.
				+linkAva("#!", "../img/avatars/ava-test.png", "some text")(class = "small--avatar")
				+linkAva("#!", "../img/avatars/ava-test.png")(class = "big--avatar")

			.title mixins/_avatars.pug
			pre.
				mixin linkAva(href, src, text = "")
					div.avatar
						a(href= href)
							div&attributes(attributes)
								img(src= src)
								div.avatar--img__content
									| \#{text}

