extends ../../layouts/ui-layout/ui-layout.pug

block variables
  - var title = 'Чекбоксы - UI-kit и HTML фреймворк - Документация';
  - var pageClass = 'body--dashboard';

block content
  .main-wrapper
    .container.container--left.user-content.pt-35
      h1 Чекбоксы

      .section-ui
        .container_checkbox
          +checkbox('Запомнить меня', 'checkbox_checked', true)
          +checkbox('Запомнить меня', 'checkbox_none', false)
      
      pre.
        +checkbox('Запомнить меня', 'checkbox_checked', true)
        +checkbox('Запомнить меня', 'checkbox_none', false)
    			
      .title mixins/_checkbox.pug
    	
      pre.
        mixin checkbox(text,id,checked)
          .checkbox
            label
              input(type='checkbox', class='form-input_checkbox', id=id, checked=checked)
              span(class='form-checkbox_box')
              span(class='label_text') #{text}
