extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'UI-Нотификации';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			.temporary-wrapper
				h1 Нотификации

				//- +notification('Some text')
				+notification('Some text 55 ', 'error')
				//- +notification('Some text', 'success')

				//- +notify('Просто нотификация')
				//- +error('Сообщени о ошибке!')
				//- +success('Все прошло успешно!')



				h5 Ошибка
				.section-ui
					+notificationComment('Введите ваше имя')
				pre.
					+notificationComment('Введите ваше имя')
				br
				br
				include ../../sections/notifications/email-error.pug
				pre.
					include ../../sections/notifications/email-error.pug
				br
				h5 Успех
				br
				br
				include ../../sections/notifications/created-successfully.pug
				pre.
					include ../../sections/notifications/created-successfully.pug
				br
				br
				h5 Нотификация
				br
				br
				include ../../sections/notifications/update-info.pug
				pre.
					include ../../sections/notifications/update-info.pug
				br
				br
				br
				 
