extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - var title = 'Форма регистрации - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Форма регистрации

            .section-ui
                include ../../sections/registration
            pre.
                include ../../sections/registration.pug
            pre.
                .registration
                    p.
                         Войдите или  зарегистрируйтесь чтобы оставить комментарий
