extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Заголовки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Заголовки
			
			.section-ui
				.title-1 Заголовок 1
				.title-2 Заголовок 2
				.title-3 Заголовок 3
				.title-4 Заголовок 4
				.title-5 Заголовок 5
				.title-6 Заголовок 6
			
			pre.
				.title-1 Заголовок 1
				.title-2 Заголовок 2
				.title-3 Заголовок 3
				.title-4 Заголовок 4
				.title-5 Заголовок 5
				.title-6 Заголовок 6
					
			.title titles.pug
			pre.
				.title-1 Заголовок 1
				.title-2 Заголовок 2
				.title-3 Заголовок 3
				.title-4 Заголовок 4
				.title-5 Заголовок 5
				.title-6 Заголовок 6
